# EE361M Project - Predicting Engineering Salaries - Preprocessing

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("ss13husa.csv")

In [11]:
df.shape

(756065, 231)

In [12]:
df = df[df['ST'] == 6]
df.shape

(153589, 231)

In [13]:
df.to_csv('califHousingData.csv')

In [14]:
df2 = pd.read_csv('califHousingData.csv')

In [15]:
df2.head()

,Unnamed: 0,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,...,wgtp71,wgtp72,wgtp73,wgtp74,wgtp75,wgtp76,wgtp77,wgtp78,wgtp79,wgtp80
0,74543,H,11,9,7301,4,6,1000000,1007549,0,...,0,0,0,0,0,0,0,0,0,0
1,74544,H,15,9,3702,4,6,1000000,1007549,38,...,13,62,38,72,68,40,40,42,40,12
2,74545,H,16,9,8503,4,6,1000000,1007549,78,...,23,127,132,23,87,123,21,23,72,85
3,74546,H,22,9,300,4,6,1000000,1007549,233,...,175,220,476,380,240,188,145,284,234,221
4,74547,H,28,9,7901,4,6,1000000,1007549,446,...,122,138,446,434,735,430,461,454,497,500

In [16]:
df2.shape

(153589, 232)