# EE361M Project - Predicting Engineering Salaries - Preprocessing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ss13pusb.csv")

In [3]:
df.shape

(1519123, 283)

In [4]:
df = df[df['ST'] == 48]
df.shape

(75606, 283)

In [31]:
df.to_csv('texasPopData.csv')

In [32]:
df2 = pd.read_csv('texasPopData.csv')

In [33]:
df2.head()

,Unnamed: 0,RT,SERIALNO,SPORDER,PUMA,ST,ADJINC,PWGTP,AGEP,CIT,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,994880,P,13,1,5301,48,1007549,77,35,1,...,74,82,83,132,91,23,67,20,22,76
1,994881,P,13,2,5301,48,1007549,73,35,1,...,67,92,83,132,82,23,66,20,19,70
2,994882,P,13,3,5301,48,1007549,77,7,1,...,67,86,87,152,105,25,63,22,23,68
3,994883,P,13,4,5301,48,1007549,77,6,1,...,68,86,87,151,105,24,62,20,23,68
4,994884,P,17,1,4503,48,1007549,136,36,3,...,148,74,138,35,99,36,61,53,26,98

In [34]:
df2.shape

(253599, 284)